{% extends "base.html" %}

{% block titulo %} Lista de Ventas {% endblock%}

{% block contenido %}
 
<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'crear_venta' %}" role="button">Agregar Venta</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Ventas</h4>

        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre del Producto</th>
                        <th>Marca</th>
                        <th>Unidades</th>
                        <th>Nombre del Cliente</th>
                        <th>Apellidos del Cliente</th>
                        <th>DNI</th>
                        <th>Total Venta</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for v in Regventas %}
                    <tr>
                        <td>{{ v.0 }}</td>
                        <td>{{ v.1 }}</td>
                        <td>{{ v.2 }}</td>
                        <td>{{ v.3 }}</td>
                        <td>{{ v.4 }}</td>
                        <td>{{ v.5 }}</td>
                        <td>{{ v.6 }}</td>
                        <td>{{ v.7 }}</td>
                        <td>
                            <a href='/ventas/{{ v.0 }}/borrar'>Borrar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        

    </div>
    <div class="card-footer text-muted">
        Footer
    </div>
</div>

{% endblock %}